* {
  box-sizing : border-box
  padding : 0
  margin : 0
}
#app
  cursor : url("img/pen.png"),auto


.menu
  position : absolute
  z-index : 5
  background-color : white
  top : 0
  left : -290px
  width : 300px
  border-right:10px solid #eee
  padding-right : 20px
  transition : left 0.3s ease
  &:hover

    border-right:1px solid #eee
    left : 0

.menu-item
  color : #333
  font-family : 'Microsoft YaHei'
  &:hover
     font-weight : bold

.canvas
  width : 100%
  height : 100%
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */

.color
  position : fixed
  right : 0
  bottom : 0

  div
    float : left
    width : 50px
    height : 50px
    border : 2px solid #eee


.cleaner
  position : absolute
  top : 10px
  right : 10px
  padding : 10px
  font-size : 20px
  color : #666
  border : 1px solid #eee

  &:hover
    color : #333

.eraser
  position : absolute
  width : 50px
  height : 50px
  border-radius : 50%
  border : 1px solid #000000


.pages
  position : absolute
  top : 20px
  left : 50px

  .page
    margin-left : 5px
    color : black
    width : 30px
    height : 30px
    border-radius : 50%
    background-color : #efefef
    line-height : 30px
    text-align : center
    color : white
    float : left

.title
  position : absolute
  left : calc(50% - 250px)
  font-size : 28px
  opacity : 0.5
  top : 20px
  width : 500px
  text-align : center
  padding-bottom : 5px
  border-bottom : 1px solid #a4ee97



.fiddle


  .frame
    width : 30%
    float : left
    height : 100%
    iframe
      width : 100%

  .editor
    border-right : 1px solid #eee
    font-size : 20px
    width : 70%
    float : left
    height : 100%
    overflow : hidden
  .options
    border-left : 1px solid #eee
    border-right : 1px solid #eee
    display block
    z-index : 12
    background-color : #f2f3f4
    overflow hidden
    height : 30px
    .option
      float : left
      margin-right : 10px
      padding : 3px 10px
      line-height : 30px

      &:hover
        color #00ff00













.dropbox
  position : absolute
  box-sizing : border-box
  overflow : hidden
  top : 0
  left : 0
  z-index : 10
  background-color : white
  resize : true

  border : 1px solid #f2f3f4
  &:hover

    border : 1px solid #eee
    .delete
      display : block
  .delete
    color : #b5d592
    position : absolute
    top : 10px
    right : 10px
    display : none
    z-index : 999

.markdown
  width : 100%
  min-width : 300px
  position : relative
  &:hover
    .btn
      display : block
  .btn
    position : absolute
    display : none
    width : 20px
    height : 20px
    bottom : 10px
    right : 10px
    color : #b5d592
    text-align: center
    line-height : 20px
  .markdown-editor
    width : 50%
    float : left
    textarea
      width : 100%
      border : none
      outline : none
      height : 100%

  .preview
    width : 50%
    float : left
    word-wrap break-word
    p
      font-size : 1rem
      color : #666
      margin-bottom : 10px
    h1,h2,h3,h4
      margin-bottom : 10px
      font-family : "Microsoft YaHei"
      color : #333
    h1
      font-size : 1.8rem
    h2
      font-szie 1.6rem
    h3
      font-size 1.4rem
    h4
      font-size 1.1rem

    ul,ol
      padding-left : 3rem

    pre
      margin : 10px
      padding : 10px
      background-color : #f2f3f4



.tools
  position : fixed
  bottom : 0
  .tools-btn
    width : 50px
    height: 50px
    text-align : center
    line-height : 50px
    color #b5d592

    float : left
    &:hover
      i
        color : #00ff00
    i
      font-size : 48px



.clearfix
  &:after
    clear : both

